body
{
background-color:#6fd6d6;
font-family: 'Hind', sans-serif;
font-weight:300px;
font-style:normal;
}


.table-bordered
{
border-color:red;
border-width:3px;
}


.footer
{
height:45px;
width:100%;
background-color:lightgray;
position:fixed;
bottom:0;
left:0;
text-align:center;
}

.form-control
{
width:50%;
}

